.ant-page-header-footer{
    margin-top: 0px;
}
.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mt10{
    margin-top: 10px;
}
.ml10{
    margin-left: 10px;
}
.w100per{
    width: 100%;
}